# IMGIS Database Credentials
imgis.db.url=jdbc:oracle:thin:@localhost:1521:orcl
imgis.db.username=development
imgis.db.password=development123456

# FACTPRE FACTUNIF Database Credentials
factunif.db.url=jdbc:oracle:thin:@localhost:1521:orcl
factunif.db.username=development
factunif.db.password=development123456

# Batch Loader Properties
batch.loader.hub.enabled=true
batch.loader.hub.chunksize=2000

batch.loader.building.enabled=true
batch.loader.building.chunksize=5000

batch.loader.terminalEnclosure.enabled=true
batch.loader.terminalEnclosure.chunksize=5000

batch.loader.xygoAddress.enabled=true
batch.loader.xygoAddress.chunksize=5000

#Logging Properties
app.logging.path=/home/development/log/
app.logging.filename=smw-batch-loader.log
app.logging.pattern=%d{ISO8601} %-5level [%t] %C{1.}: %msg%n%throwable
app.logging.level=DEBUG